.mdl-badge[data-badge]:after {
	background-color: #3ba666;
}

a[ng-click] {
	cursor: pointer;
	color: #3f51b5;
}

.invisible {
	visibility: hidden !important;
}

.mdl-menu__item {
	font-size: 12px !important;
	line-height: 1.5em;
	height: 1.5em;
}

.mdl-cell--summary h4, .mdl-cell--summary h6 {
	margin: 0;
}

.material-icons{ font-size: 1em; }

.mdl-list__item.done .material-icons {
	background-color: green;
}

.tickets {
	width: 100%;
	padding: 0;
}

.tickets hr {
	background-color: rgba(0,0,0,.12);
	border: 0;
	margin: 0;
}

.tickets h6 {
	margin: 0;
}

@media (min-width: 840px) {
	.mdl-grid.main {
		width: 840px;
	}
}

.mdl-cell--right {
	text-align: right;
}

.billingSwitch {
	position: absolute;
	right: 50px;
}

.mdl-card {
  width: 100%;
}

.mdl-card__actions {
	text-align: right;
}

.mdl-card__title {
  background: url('https://devternity.com/css/images/overlay.png'), url('https://devternity.com/images/splash.jpg') center / cover;
}	

.mdl-card__title *	{
	color: #fff !important;
}			

.mdl-textfield {
	width: 100%;
}

.strike {
	text-decoration: line-through !important;
}