doctype html
html.no-js(lang='', ng-app='app')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Conference Registration
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' type='image/png' href='https://devternity.com/images/logo_2017_filled.png')
    link(rel="stylesheet", href="//use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous")
    link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='vendor.css' inline)      
    link(rel='stylesheet', href='app.css' inline)
    script(src='vendor.js' inline)      
    script(src='app.js' inline)
  body(ng-controller='Attendify as main')
    .hero.is-medium.is-dark
      .hero-body
        .container
          h1.title.is-size-5-mobile {{main.event.theme}} Registration
          h2.subtitle.is-size-7-mobile After registration, you'll receive a pro-forma invoice with payment details.
    section.section.has-background-light
      .container
        article.message.is-danger(ng-show="main.showWarning")
          .message-body Sorry, something went wrong with this form. In order to register, please send an email to hello@devternity.com.
        h4.title.is-3 Billing
        form(novalidate='')
            .field.has-text-right
              input.is-checkradio#companyPayment(type='checkbox', ng-model='main.registration.companyBilling', ng-change='main.wipeCompanyBillingInfo()')
              label.checkbox(for='companyPayment') Bill to a company
            .field.is-horizontal(ng-show='main.registration.companyBilling')
              .field-label.is-normal
                label.label(for='companyName') Company name
              .field-body
                .field
                  .control
                    input#companyName.input.is-medium(ng-model='main.registration.legal.name' type='text')
            .field.is-horizontal(ng-show='main.registration.companyBilling')
              .field-label.is-normal
                label.label(for='vatNo') VAT number
              .field-body
                .field                
                  .control
                    input#vatNo.input.is-medium(ng-model='main.registration.legal.vat' type='text' placeholder='LU26375245')
                    p.help If you don't have a VAT number, provide company identification number
            .field.is-horizontal(ng-show='main.registration.companyBilling')
              .field-label.is-normal            
                label.label(for='companyAddress') Address
              .field-body
                .field              
                  .control
                    input#companyAddress.input.is-medium(ng-model='main.registration.legal.address' type='text')
            .field.is-horizontal
              .field-label.is-normal            
                label.label(for='yourName') Your name
              .field-body
                .field              
                  .control
                    input#yourName.input.is-medium(ng-model='main.registration.name' type='text')
            .field.is-horizontal
              .field-label.is-normal            
                label.label(for='yourEmail') Your email (for invoicing)
              .field-body
                .field              
                  .control
                    input#yourEmail.input.is-medium(ng-model='main.registration.email', type='email')
            .field.is-horizontal
              .field-label.is-normal            
                label.label &nbsp;
              .field-body.is-block
                .field
                  input.is-checkradio#payWithBankTransfer(ng-model='main.registration.paymentMethod', type='radio', name='options', value='BANK', ng-change='main.changePaymentMethod()')
                  label(for='payWithBankTransfer') Bank transfer
                .field
                  input.is-checkradio#payWithBitcoin(ng-model='main.registration.paymentMethod', type='radio', name='options', value='BTC', ng-change='main.changePaymentMethod()')
                  label(for='payWithBitcoin') Bitcoin 
                .field 
                  input.is-checkradio#payWithCard(ng-model='main.registration.paymentMethod', type='radio', name='options', value='VISA', ng-change='main.changePaymentMethod()')
                  label(for='payWithCard') Amex/Visa/Mastercard

    section.section.has-background-light
      .container
        div(ng-controller="AttendeeCtrl as attendee")
          h4.title.is-3 Tickets
          form(novalidate='')
            .field.is-horizontal
              .field-label.is-normal
                label.label Attendee
              .field-body
                .field
                  .control.is-expanded.has-icons-left
                    input.input.is-medium(placeholder="Name" ng-model='attendee.name', type='text', ng-change='attendee.onChange()')
                    span.icon.is-small.is-left
                      i.fas.fa-user
                .field
                  .control.is-expanded.has-icons-left
                    input.input.is-medium(placeholder="Email" ng-model='attendee.email', type='email', ng-change='attendee.onChange()' ng-class="{'is-danger': !attendee.email && attendee.email.length}")
                    span.icon.is-small.is-left
                      i.fas.fa-envelope
            .field.is-horizontal
              .field-label.is-normal
                label.label Ticket
              .field-body            
                .field
                  .control.is-expanded
                    .select.is-fullwidth.is-medium
                      select(ng-model="attendee.ticket" ng-options="name for (name, info) in main.ticketsOnSale" ng-change='attendee.onChange()')
            .field.is-horizontal(ng-show="attendee.ticket.includesWorkshop")
              .field-label.is-normal
                label.label Workshop
              .field-body
                .field
                  .control.is-expanded
                    .select.is-fullwidth.is-medium
                      select(ng-model='attendee.workshop' ng-options="info.title for (index, info) in main.workshops"  ng-change='attendee.onChange()')
            .field.has-text-right
              button.button.is-primary(ng-disabled='attendee.addDisabled', ng-click='attendee.add()')
                span.icon
                  i.fas.fa-plus
                span Add attendee
              
            .final(ng-show="main.registration.attendees.length")
              table.table.is-striped.is-fullwidth.is-size-7-mobile.has-background-light
                thead
                  th #
                  th Name
                  th Email
                  th Tickets
                  th Price
                  th &nbsp;
                tbody
                  tr(ng-repeat='attendee in main.registration.attendees track by $index')
                    td {{$index + 1}}
                    td {{attendee.name | truncate:27}}
                    td {{attendee.email | truncate:30}}
                    td
                      span {{attendee.tickets | join}}
                    td € 
                      span {{attendee.cost}}
                    td
                      a.delete(ng-click='main.dropAttendee($index)')
              .columns.is-mobile
                .column.is-4-desktop.is-offset-8-desktop(ng-controller='DiscountCtrl as discount')
                  .field.has-addons.is-pulled-right
                    .control
                      input.input(ng-model='discount.code' type='text' ng-class='{"is-primary": discount.oki, "is-danger": discount.warn}' placeholder="Promo code")
                    .control
                      a.button.is-primary(ng-disabled='!discount.code', ng-click='discount.apply()') Apply
                  p.help.is-danger(ng-show='discount.warn') Ooops! Wrong code.
              .columns
                .column.is-12
                  nav.level.is-mobile
                    .level-item.has-text-centered(ng-show="main.subtotal != main.total")
                      .div
                        p.heading Subtotal
                        p.title €{{main.subtotal}}
                    .level-item.has-text-centered(ng-show='main.fee')
                      .div
                        p.heading Visa/Mastercard fee
                        p.title €{{main.fee}}
                    .level-item.has-text-centered(ng-show='main.discount') 
                      .div
                        p.heading Discount  
                          i.far.fa-heart.has-text-danger
                        p.title €{{main.discount}}
                    .level-item.has-text-centered
                      .div
                        p.heading Total
                        p.title €{{main.total}}
              .columns
                .column
                  .notification.is-warning.is-light Additional 20% VAT applies to non-VAT taxpayers and companies incorporated in the Republic of Estonia.
                  .notification.is-danger.is-light
                    | Each conference ticket is licenced to a single individual. As the holder of the ticket, you cannot:
                    br
                    |       &#x274C; Share your access with any other individual(s).
                    br
                    |       &#x274C; Let other individuals access/watch a conference using your personal license, unless they have purchased a ticket.
                    br
                    |       &#x1F46E; DevTernity team is strictly policing legitimate and fair usage both manually and automatically.
                    br
                    |       &#x1F46E; If you are found to be in violation of the license, your ticket will be terminated.
                    br
                    |       &#x1F46E; DevTernity reserves the right to pursue legal remedies for any unauthorized use of the ticket.
              .columns
                .column.has-text-centered
                  .field
                    button.button.is-primary.is-large(ng-disabled="!(main.registration.name && main.registration.email && (!main.registration.companyBilling || (main.registration.legal.name && main.registration.legal.vat && main.registration.legal.address)))" ng-click='main.complete()' ng-class='{"is-loading": main.step == "COMPLETE_CLICKED"}' ng-show='main.step != "REGISTERED"') Complete
                  p.help.is-danger(ng-show='main.step == "REGISTRATION_FAILED"') Sorry, something went wrong! In order to register, please send an email to hello@devternity.com.
                  article.message.is-primary(ng-show='main.step == "REGISTERED"')
                    .message-body Well done! We will send payment information to your email ({{main.registration.email}}) within the next 24 hours.

    script(defer data-domain="devternity.com" data-api="/pla/event" src="/pla/script.js")
